<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>kr33</title>
    <link rel="stylesheet" href="style.css">
    <script src="sha256.min.js"></script>
    <script src="vue.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="index">
            <span>kr33: <input type="text" v-on:keyup="generate()" v-model="seed"></span>
            <div class="grid">
                <textarea v-model="left" v-on:keyup.ctrl.enter="crypt()" v-on:keyup.ctrl.shift.enter="decrypt()"></textarea>
                <textarea v-model="right" onclick="this.select()"></textarea>
            </div>
            <button v-on:click="crypt()">E</button>
            <button v-on:click="decrypt()">D</button>
        </div>
    </div>
</body>

</html>

<script src="index.vue.js"></script>