* {
    user-select: none;
}

body {
    background-color: black;
    font-family: Verdana;
}

#app {
    margin: 50px auto;
    width: 960px;
}

h1 {
    font-weight: 300;
    color: orangered;
    font-size: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

span {
    display: inline-block;
    margin: 0;
    font-weight: 300;
    color: orangered;
    margin-bottom: 5px;
}

input {
    display: inline-block;
    border: none;
    background-color: black;
    color: white;
    padding: 5px;
    width: 200px;
    width: auto;
    margin-bottom: 10px;
    border: 1px solid orangered;
}

input:focus {
    border-color: oragered;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
}

textarea {
    display: inline-block;
    background-color: black;
    color: #eee;
    width: calc(100% - 10px);
    height: 240px;
    border: 1px solid orangered;
    margin-bottom: 10px;
}

input:focus, textarea:focus {
    outline: none;
    border-color: orangered;
    background-color: rgba(255,255,255,0.05);
}

button {
    background-color: transparent;
    border: none;
    color: orangered;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover {
    color: white;
}

button:focus {
    outline: none;
}

p {
    color: #777;
    font-size: 14px;
}

strong {
    font-weight: 300;
    color: white;
}

a {
    color: #777;
    float: right;
}