body {
    background-color: black;
    font-family: Verdana;
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 600px;
    background-color: #222;
    color: #eee;
}

h1,p {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    word-wrap: break-word;
}

textarea {
    background-color: black;
    color: #eee;
    padding: 5px;
    width: calc(100% - 10px);
    overflow-y: hidden;
    resize: none;
    border: none;
    margin-bottom: 10px;
}

textarea:active {
    outline: none;
}