body {
    background-color: black;
    font-family: Verdana;
}

#app {
    margin: 50px auto;
    width: 960px;
}

span {
    font-size: 24px;
    display: inline-block;
    margin: 0;
/*    padding: 0 0 5px 0;*/
    font-weight: 300;
    color: orangered;
/*    user-select: none;*/
    margin-bottom: 25px;
}

input {
    display: inline-block;
    border: none;
/*    border-bottom: 1px solid orangered;*/
    background-color: black;
    color: orangered;
/*    color: #eee;*/
    font-size: 24px;
    padding: 5px;
    width: 200px;
    width: auto;
/*    width: calc(100% - 20px);*/
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


textarea {
    display: inline-block;
    background-color: black;
    color: #eee;
    padding: 5px;
    width: calc(100% - 20px);
    height: 240px;
    border: 1px solid orangered;
    margin-bottom: 10px;
}

input:focus, textarea:focus {
    outline: none;
    background-color: rgba(255,255,255,0.05);
}

/*
.p404 {
    width: 100px;
    margin: 0 auto;
    margin-top: 50vh;
    color: orangered;
    text-align: center;
}
*/

button {
    background-color: transparent;
    border: none;
    color: orangered;
    font-size: 24px;
    cursor: pointer;
    transition: 0.25s ease;
}

button:hover {
    color: wheat;
}

button:focus {
    outline: none;
}
