<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>kr33</title>
    <link rel="stylesheet" href="../style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <h1>kr33</h1>
        <div class="grid">
            <textarea v-on:keyup="crypt()" v-model="text"></textarea>
            <textarea v-on:keyup="decrypt()" v-model="code"></textarea>
        </div>
    </div>
</body>

</html>

<script src="../js/script.vue.js"></script>
<!--<script src="../js/color.js"></script>-->